.title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.signinForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.input-email,
.input-password {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

.input-email:focus,
.input-password:focus {
    outline: none;
    border-color: #0070f3;
    box-shadow: 0 0 5px rgba(0, 112, 243, 0.5);
}

.signin-button {
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #0070f3;
    color: #fff;
    font-size: 1rem;
    line-height: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.signin-button:hover {
    background-color: #0062cc;
}
